div.container-fluid{
  margin-bottom: 80px;
}

.card {
  animation: fadeIn 0.2s ease-in both;

  background-image: linear-gradient(to top, #ffffff 0%, #ffffff 70%,rgba(24, 136, 42, 0.7)100%);
  border-top: none;
  border-left: none;
  box-shadow: 5px 5px 15px rgba(115, 109, 109, 0.6);

}

.card-body {
  border-top: none;
  border-left: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.card-text{
  font-weight: 500;
}

.prodotti {
  font-weight: 600;
}

.prodottiWrapper{
  padding-bottom: 0;
}

p{
  color: rgb(94, 85, 85) !important;
  margin-bottom: 0 !important;
}

.data {
  font-weight: 600;
  margin-bottom: 15px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.211);
}


.delivery {
  padding-bottom: 0;
  font-weight: 600;

}


span.ingredienti{
  color: rgb(68, 59, 59) !important
}

.prodottiWrapper,.delivery,.totalOrder{
  color: rgb(94, 85, 85) !important;
}
