
<ng-container *ngIf="favoriteDishes; then showdishes; else sorry"></ng-container>

<ng-template #showdishes>
  <div class="container-fluid px-0">
    <div class="row d-flex justify-content-between">
      <div class="cardwrapper col-md-6 col-lg-4 mb-4" *ngFor="let singleDish of favoriteDishes; trackBy: trackByFunction; let i = index">
        <div class="card h-100 d-flex flex-column rounded-top-5" [style.animation-delay]="i * 0.2 + 's'">
          <img src="{{ singleDish.prodotto.imgUrl}}" class="card-img-top rounded-top-5" alt="movie poster" />
          <div class="card-body d-flex flex-column justify-content-between pb-0">
            <h4 class="card-title text-uppercase mb-1">{{ singleDish.prodotto.nome}}</h4>
          </div>
          <div class="card-body d-flex flex-column justify-content-between">
            <div>

                <p class="card-text mb-3">{{ singleDish.prodotto.descrizione }}</p>

            </div>
            <a [routerLink]="['/dishes', singleDish.prodotto.id]" class="btn bottone mb-2 mt-auto">DETAIL</a>
            <button
                      class="btn w-100"
                      type="button"
                      (click)="removeFavorite(singleDish.prodotto.id!)"
                    >
                      REMOVE
                    </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #sorry>
  <div class="row d-flex justify-content-center align-items-center col-4">
    Sorry, something is wrong. Please try later!
  </div>
</ng-template>
