
<div class="container-fluid px-0">
  <div class="row d-flex justify-content-center">
    <div class="cardwrapper col-md-6 col-xl-4" >
      <div class="card h-100 d-flex flex-column">
        <img src="{{dish.imgUrl}}" class="card-img-top" alt="movie poster" />
        <div class="card-body d-flex flex-column justify-content-between pb-0">
          <h4 class="card-title text-uppercase mb-2">{{dish.nome}}</h4>
          <h6 class="card-title text-uppercase mb-1">{{dish.categoria}}</h6>
        </div>
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <ng-container>
              <p class="card-text mb-2">
                <span class="text-uppercase mb-0 ingredienti">Ingredienti:</span>
               {{ingredientiNames}}
              </p>
              <p class="card-text mb-3">{{dish.descrizione}}</p>
              <p class="card-title text-uppercase mb-3">Prezzo: {{dish.prezzo}} &#8364;</p>
            </ng-container>
          </div>
          <a  class="btn bottone mb-2 mt-auto" (click)="goBack()">BACK
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
