
<ng-container *ngIf="topFavoriteDishes; then showdishes; else sorry"></ng-container>

<ng-template #showdishes>
  <div class="container px-0">
    <div class="row d-flex justify-content-between">
      <div class="cardwrapper col-md-6 col-lg-4" *ngFor="let singleDish of topFavoriteDishes; let i = index">
        <div class="card h-100 d-flex flex-column rounded-top-5" [style.animation-delay]="i * 0.2 + 's'">
          <img src="{{ singleDish.prodotto.imgUrl}}" class="card-img-top rounded-top-5" alt="movie poster" />
          <div class="card-body d-flex flex-column justify-content-between pb-0">
            <h4 class="card-title text-uppercase mb-1">{{ singleDish.prodotto.nome}}</h4>
            <h6 class="card-title text-uppercase mb-0">popolarità: {{ singleDish.favoriteCount}}</h6>
          </div>
          <div class="card-body d-flex flex-column justify-content-between">
            <div>

                <p class="card-text mb-3">{{ singleDish.prodotto.descrizione }}</p>

            </div>
            <a [routerLink]="['/dishes', singleDish.prodotto.id]" class="btn bottone mb-2 mt-auto">DETAIL</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #sorry>
  <div class="row d-flex justify-content-center align-items-center col-4">
    Sorry, you don't have any favorite product yet!
  </div>
</ng-template>
