<div class="row d-flex justify-content-center">
  <div class="col-8 row">
    <div class="col-6 ciccio">
      <p class="card-text"><strong>Nome:</strong> {{ utente.name }}</p>
      <p class="card-text"><strong>Cognome:</strong> {{ utente.surname }}</p>
      <p class="card-text"><strong>Email:</strong> {{ utente.email }}</p>
      <p class="card-text"><strong>Username:</strong> {{ utente.username }}</p>
    </div>

    <div class="col-6 ciccio2 mb-3">
      <p class="card-text"><strong>Nome:</strong> {{ utente.indirizzo.via }}</p>
      <p class="card-text">
        <strong>Cognome:</strong> {{ utente.indirizzo.civico }}
      </p>
      <p class="card-text">
        <strong>Email:</strong> {{ utente.indirizzo.localita }}
      </p>
      <p class="card-text">
        <strong>Username:</strong> {{ utente.indirizzo.provincia }}
      </p>
      <p class="card-text">
        <strong>Email:</strong> {{ utente.indirizzo.comune }}
      </p>
      <p class="card-text">
        <strong>Username:</strong> {{ utente.indirizzo.cap }}
      </p>
    </div>

    <div class="d-flex column-gap-2">
      <button type="button" class="btn btn-danger" (click)="deleteUser(utente.id!)">
        Delete
      </button>
      <a [routerLink]="['/ownprofile', utente.id, 'update']"><button type="button"  class="btn btn-primary">
        Update
      </button></a>
    </div>
  </div>
</div>
