
<ng-container *ngIf="ownReviewsList.length>0; then showreview; else sorry"></ng-container>

<ng-template #showreview>
  <div class="container px-0">
    <div class="row row-gap-3">
      <div class="cardwrapper col-lg-6" *ngFor="let singleReview of ownReviewsList; let i = index">
        <div class="card w-100 h-100 d-flex align-content-between flex-column" [style.animation-delay]="i * 0.2 + 's'">

          <div class="card-body">
            <div class="d-flex">
            <p class="rating d-inline-block" > <ngb-rating  [max]= 5 [(rate)]="singleReview.rating" [readonly]="true"></ngb-rating></p>
            <button
                        class="btn  ms-auto"
                        id="removeButton"
                        type="button"
                        (click)="modalConfirmWithdraw()"
                      >
                        REMOVE
            </button>

            <div id="modalConfirmWithdraw" class="modal fade modal-lg">
              <div class="modal-dialog p-0">
                <div class="modal-content">
                  <!--<div class="modal-header">
                    <h5
                      class="modal-title bannercontrolpaneltext"
                      id="modal-title-add"
                    >

                    </h5>
                  </div>-->
                  <div class="modal-body">
                    <h3
                      id="add-modal "
                      class="text-success text-center"
                    >
                    SUCESSFUL WITHDRAW
                  </h3>
            <button class="btn btn-danger" (click)="removeOwnReview(singleReview.id!); closeModal()"> CONFERMA</button>
                  </div>
                </div>
              </div>
            </div>



            </div>

            <h5 class="card-title">{{ singleReview.title}}</h5>
            <p class="card-title">{{ singleReview.comment}}</p>
          </div>
            <div class="card-body d-flex justify-content-between">

              <p class=" card-text mb-2">{{ singleReview.username }}</p>
              <p class=" card-text mb-2 ms-auto">Data: {{ singleReview.reviewDate }}</p>


            </div>
          </div>
        </div>
      </div>
    </div>
</ng-template>

<ng-template #sorry>
  <div class="row d-flex justify-content-center noReviews">
    <div class="col-4 noCart d-flex flex-column justify-content-center text-center">
      <p>  Sorry, there are no reviews to display</p>

      <a  class="btn text-uppercase w-50 btn-primary text-white mt-5 backShopping mx-auto" [routerLink]="['/']" routerLinkActive="active">&leftarrow; Back to shop</a>
    </div>
    </div>
</ng-template>


